body{
    background-color:rgb(46, 46, 46);
}
.fa{
    color: rgb(9, 176, 242)
}
.box-part{
    background-color:whitesmoke;
    padding: 40px 5px;
    margin: 20px;
    border-radius: 5px;
}
span{
    font-size: 12px;
    color: black;
    font-weight: 50px;
}
.text{
    margin:20px 0px;
}
a{
    border-bottom: 1px solid rgb(72, 198, 248);
   color:  rgb(9, 176, 242)
}
.box{
    padding: 60px 0px;
}

h4{
    font-weight: 50px;
    color: rgb(21, 20, 20);
}


